[Unit]
Description=<DESCRIPTION>

[Service]
Type=forking
User=<USER>
Group=<GROUP>
WorkingDirectory=</PATH/TO/FILES/>
ExecStart=/bin/bash -lc 'foreman start internalweb &'
ExecStop=/bin/bash -lc 'pkill foreman'

[Install]
WantedBy=multi-user.target
